 /* .box{
    display: flex; */
    /* float: right; */
    /* overflow: hidden; */
    /* justify-content: space-between;
    
}
img{ */
    /* border: 2px dotted block; */
    /* width: auto;
    height: auto; */
  /* width: 200px;
  height: 150px;
  border: 5px solid blue;
  border-radius: 10px;
  
  



}  */

