* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style-type: none;



}


a {
    display: block;
    width: 150px;
    /* background-color: black; */
    background: transparent;
    color: white;
    padding: 10px 0;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;


}

a:hover {
    background-color: black;
}

.product,
.play,
.caps,
.purse {
    list-style-type: none;
    display: none;


}

.dropdown li:nth-child(2):hover .product {
    display: block;
}

.dropdown li:nth-child(3):hover .play {
    display: block;
}

.dropdown li:nth-child(4):hover .caps {
    display: block;
}

.dropdown li:nth-child(5):hover .purse {
    display: block;
}
.form {
    width: 50%;
    height: 350px;
    /* background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%); */
    background: linear-gradient(to top, rgba(5, 82, 236, 0.8)50%, rgba(240, 7, 240, 0.8)50%);
    /* position: absolute;
    top: 60px;
    left: 60px; */
    transform: translateX(100%);
    margin-top: 10px;
    border-radius: 10px;
    padding: 25px;

}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}

.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.btnn:hover {
    background: white;
    color: orangered;
}

.btnn {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form.link {
    text-decoration: none;
    color: orangered;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}

p {
    color: white;
}

/* ul{
    list-style-type: none;
    color: white;
    ali
    
    
    
    
}
nav{
    background-color:black;
    width:20px;
    height:500px ;
    font-size: 30px;
    display:block ; 
    transform: rotateX(20deg);
    
    
    
 
    

 } */